:root {
  --black: #1C1C1C;
  --blue: #293264;
  --lavender: #D6DBF5;
  --purple: #4D5B9E;
  --snow: #F5F7FB;

  --main-box-radius: 30px;
}

body {
  background-color: var(--black);
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: var(--blue);
}

button {
  border-radius: 1em;
  border-width: 1px;
  padding: 1em 4em;
  color: var(--snow);
  background-color: var(--purple);
}

button.big {
  color: var(--snow);
  background-color: var(--purple);
}

button.small {
  font-size: 12px;
  padding: 0.5em 1.5em;
  background: var(--snow);
  color: var(--blue);
}

button.selected {
  background: var(--lavender);
  border-color: var(--lavender);
}

#root {
  width: 660px;
  padding: 20px;
  background-color: var(--snow);
  border-radius: var(--main-box-radius);
  aspect-ratio: 1;
  position: relative;
  display: grid;
  place-items: center;

}

#root::before {
  content: "";
  background: url('/src/images/blue.png');
  border-bottom-left-radius: var(--main-box-radius);
  width: 148px;
  height: 118px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#root::after {
  content: "";
  background: url('/src/images/yellow.png');
  border-top-right-radius: var(--main-box-radius);
  width: 194px;
  height: 197px;
  position: absolute;
  top: 0;
  right: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 580px;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
}

main > .questions {
}

.check-answers {
  margin-top: 2rem;
}

.blue-shape {
  position: absolute;
  bottom: 0;
  left: 0;
}

.yellow-shape {
  position: absolute;
  top: 0;
  right: 0;
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-family: 'Karla', sans-serif;
}

h2 {
  font-size: 1rem;
}

p {
  font-weight: 400;
  font-family: 'Inter';
}

.start-game {
  margin-top: 1rem;
}

.answers {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}
